{{#each listOfEntries}}
    <div>

        <p>{{this.game}} at this difficulty {{this.difficulty}} with this console {{this.console}}</p>
        <a href="/entries/{{this._id}}">See Details</a>

    </div>

    <hr>
{{/each}}

<div>
    <a href="/entries/new">Create a new entry</a>
    <hr>
    <a href="/forum">To the community forums</a>
    <hr>
    <a href="/">Home</a>
</div>
