{{#each listOfForum}}
    <div>

        <p>Username: {{this.username}}</p>
        <p>Topic: {{this.topic}}</p>
        <p>Body: {{this.body}}</p>

    </div>

    <hr>
{{/each}}

<div>
    <a href="/entries">Back to entries</a>
</div>