
<h2>Add a New Entry to the database</h2>


<form action="/entries/create" method="post">

    <label>Game</label>
    <input type="text" name="game">
    <br>

    <label>Difficulty</label>
    <input type="text" name="difficulty">
    <br>

    <label>Console</label>
    <input type="text" name="console">
    <br>

    <label>Time</label>
    <input type="text" name="time" placeholder="hr:min:sec">
    <br>

    <label>Retype username for verification</label>
    <input type="text" name="username">
    <br>

    <label>Youtube Link</label>
    <input type="text" name="youtubeLink">
    <br>

    <button type="submit">Save Entry</button>


</form>