
<h2>Add a New post to the forum</h2>


<form action="/forum/create" method="post">

    <label>Username</label>
    <input type="text" name="username">
    <br>

    <label>Topic</label>
    <input type="text" name="topic">
    <br>

    <label>Body</label>
    <input type="text" name="body">
    <br>

    <button type="submit">Post</button>


</form>